<div class="container">
  <div class="row">
    <div class="span12">
      <h2 class="page-header">
        About nitro/dashboard
      </h2>
      <p class="paraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus nulla, dignissim ut lobortis vitae, egestas quis dui. Fusce ac eros id mauris gravida fermentum. Etiam sollicitudin consequat tincidunt. Cras nulla dolor, fermentum a congue quis, varius non massa. Duis egestas dolor vitae nisl malesuada elementum sagittis sit amet leo. Nunc euismod dui sed lacus vehicula scelerisque. Phasellus ultricies imperdiet dui, a pulvinar nulla cursus id. Aenean rhoncus, odio vitae aliquam adipiscing, tortor risus pharetra purus, in posuere mauris velit nec quam. Ut sit amet felis est. Nulla eget nisl ac est accumsan venenatis a vel enim. Curabitur eget enim ipsum. Pellentesque risus nisl, ornare at mollis eget, ultricies sed ipsum. Fusce a augue vitae nibh dignissim consequat et vel leo. Aliquam erat volutpat. Morbi vel nunc libero. Ut posuere malesuada ornare.
      </p>

      <p class="paraph">
        Donec eu velit risus. Proin tellus nibh, pellentesque nec ultricies in, congue sed mauris. Vivamus malesuada ipsum sit amet libero euismod bibendum suscipit tellus dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tincidunt justo et mauris posuere semper. Suspendisse at erat justo. Duis ligula libero, congue in imperdiet non, pellentesque non metus. Nulla facilisi. Nullam tempus egestas leo ac tempus. Nam convallis nulla sit amet eros gravida congue. Maecenas euismod massa imperdiet urna faucibus nec blandit mauris suscipit. Vivamus in arcu libero. Proin a justo tellus, eu dictum felis. Quisque sagittis nibh eu urna porttitor lobortis. Quisque laoreet porta dictum.
      </p>
    </div>
    <!--/ .span12 -->
  </div>
  <!--/ .row -->
</div>
<!--/ .container -->
