body {
  font: 100%/120% "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-size-adjust:none;
  font-smoothing: antialiased;
  -webkit-text-size-adjust:none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  padding-top: 60px;
}

a {
  -webkit-transition: .2s linear all; 
  -moz-transition: .2s linear all;
  transition: .2s linear all;
}

a:hover {
}

a:active {
}

p { 
  font-weight: 200;
  color: #666;
  line-height: 1.6em;
}

h2.page-header {
  font-size: 20px;
}

h2.page-header .btn {
  margin-top: 10px;
}

.projects-container {
}

.project {
  position: relative;
  min-height: 150px;
  margin-bottom: 25px;
}

.project h3 {
  color: #FFF;
  font-size: 20px;
  margin: 10px;
  padding: 0 10px;
  display: inline-block;
  background: rgba(0, 0, 0, .4);
}

.project small {
  color: #FFF;
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  width: 200px;
  margin: 10px;
  display: inline-block;
}

.project p.stat {
  min-width: 150px;
  text-align: right;
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-weight: 600;
  font-size: 80px;
}

.project p.stat span.people {
  font-size: 30px;
  color: #FFF;
  font-weight: 400;
  display: block;
  margin: 35px 5px 0 0;
}

.project a.detail {
  font-size: 24px;
  color: #FFF;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.project a.detail:hover {
  text-decoration: none;
  color: #EBEBEB;
}

ul.exceptions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.exceptions li {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fff, #f6f6f6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);
  background-image: -o-linear-gradient(top, #fff, #f6f6f6);
  background-image: linear-gradient(to bottom, #fff, #f6f6f6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #999;
}

ul.exceptions li .title {
  display: block;
  font-weight: 600;
  color: #333;
  text-shadow: 0 1px 0 #FFF;
  font-size: 15px;
}

ul.exceptions li .description {
  font-weight: 200;
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
  color: #666;
}

ul.exceptions li .date {
  font-weight: bold;
  font-size: 13px;
  color: #064239;
  text-shadow: 0 1px 0 #FFF;
  display: block;
  text-align: right;
}

/* 2 - BOOTSTRAP */

.navbar-inner {
  min-height: 60px;
}

.navbar-inverse .navbar-inner {
  background-color: #0a594d;
  background-image: -moz-linear-gradient(top, #106e60, #0a594d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#106e60), to(#0a594d));
  background-image: -webkit-linear-gradient(top, #106e60, #0a594d);
  background-image: -o-linear-gradient(top, #106e60, #0a594d);
  background-image: linear-gradient(to bottom, #106e60, #0a594d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff106e60', endColorstr='#ff0a594d', GradientType=0);
  border-color: #064239;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 5px 20px 5px;
  margin: 15px 0 15px -20px;
  font-size: 24px;
  font-weight: 800;
  color: #EDEDED;
  text-shadow: 0 1px 0 #000;

  border: none;
}

.navbar .brand:hover {
  color: #777777;
}

.navbar .nav > li > a {
  float: none;
  padding: 5px 15px 5px;
  margin: 15px 0;
  color: #ededed;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.pull-right .nav > li > a{
  margin-left: 10px;
}

.navbar .nav > li > a:hover {
  color: #FFF;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #999;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
